.bg-red {
  background-color: #d90e0e;
}
.bg-lightblue {
  background-color: #290ed9;
}
.bg-blue {
  background-color: blue;
}
.bg-yellow {
  background-color: yellow;
}
.App {
  text-align: center;
}

.logo {
  height: 80px;
  pointer-events: none;
}

.wrapper {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #465151;
}

.header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #465151;
}

.cart-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #465151;
}

.login-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #465151;
}

.header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  font-size: calc(10px + 2vmin);
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.App-link {
  margin: 0px 10px;
  color: #000000;
}

.section-title {
  font-size: calc(10px + 2vmin);
  color: #465151;
  margin: 0;
}

.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #465151;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 33%;
}

.border {
  border: 2px solid #191c1c; /* chenged color from white*/
  border-radius: 5px; /*  radius */
}

.m-1 {
  margin: 1px;
}

.m-2 {
  margin: 2px;
}

.m-3 {
  margin: 3px;
}

.m-4 {
  margin: 4px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.p-5 {
  padding: 5px;
}

.p-5 {
  padding: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.footer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;
}

.flex {
  display: flex;
}

.text-sm {
  font-size: 0.6em;
}

.text-lg {
  font-size: 0.9em;
}

.product-price {
  display: flex;
  justify-content: end;
  height: 60px;
  align-items: center;
}

.btn {
  background-color: rgb(195, 195, 188);
  color: #dcdfe1;
  border: none;
  padding: 10px;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-primary {
  background-color: #dfdce1;
  color: rgb(0, 0, 0);
}

.product-details {
  width: 50%;
}
.product-image {
  width: 400px;
  height: auto;
  border-radius: 5px;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-height: 150px;
}

/* styling for the buttons
.btn {
  background-color: rgb(199, 75, 75);
  color: #dcdfe1;
  border: none;
  padding: 10px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
*/
/* added psuedo  effect for the buttons 
.btn:hover {
  background-color: yellow; 
  color:rgb(0, 0, 0)

}
*/

/* .btn :focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
} */

/* .btn :active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
<<<<<<< HEAD
} */

.btn:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  color: rgb(0, 0, 0);
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image:hover {
  display: flex;
  justify-content: center;
  color: #424242;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  transform: scale(1.3);
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.btn2 {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

.btn2:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}
