.App {
  text-align: center;
}

.logo {
  height: 80px;
  pointer-events: none;
}

.wrapper {
  background-color: #f8f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #465151;
}

.header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #465151;
}

.cart-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #465151;
}

.login-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #465151;
}

.header h1 {
  margin: 0;
  font-size: calc(10px + 2vmin);
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.App-link {
  margin: 0px 10px;
  color: #000000;
}

.section-title {
  font-size: calc(10px + 2vmin);
  color: #465151;
  margin: 0;
}

.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #465151;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.border {
  border: 1px solid #dce1e1;
}

.m-1 {
  margin: 1px;
}

.m-2 {
  margin: 2px;
}

.m-3 {
  margin: 3px;
}

.m-4 {
  margin: 4px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.p-5 {
  padding: 5px;
}

.p-5 {
  padding: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.footer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
}

.flex {
  display: flex;
}

.text-sm {
  font-size: 0.6em;
}

.text-lg {
  font-size: 0.9em;
}

.product-price {
  display: flex;
  justify-content: end;
  height: 60px;
  align-items: center;
}

/*.btn {
  background-color: rgb(195, 195, 188);
  color: #dcdfe1;
  border: none;
  padding: 10px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-primary {
  background-color: #dfdce1;
  color:rgb(0, 0, 0)
}
*/

.product-details {
  width: 50%;
}
.product-image {
  width: 400px;
  height: auto;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: auto;
  min-height: 150px;
}

/* CSS */
.btn {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.btn :focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.btn :active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.form-input {
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  }
